button {
    display: contents;
}
div {
  margin-top: 150px;
  align-items: center;
  justify-content: center;
  display: flex;
}
body {
  background-color: darkslategrey;
}
img {
  height: 15%;
  width: 15%;
  margin-left: 8px;
  margin-right: 8px;
}
h2 {
  margin-top: 40px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  position:relative;
  padding: 0px;
  text-align: center;
  font-size: 68px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 140, 0, 0.884);
}